.bodyimages {
    /* background: url('../img/bg_body.png'); */
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.main {
    display: block !important;
    margin: 0px;
    padding: 0px;
    
}

.imgavatar {
    vertical-align: middle;
    width: 75px;
    height: 75px;
    border-radius: 50%;
}
.no-colors {
    background: none !important;
    background-color: none !important;
    color: none !important;
    border: none !important;
}

.spaces {
    margin-left: 0.75rem;
    margin-right: 0.75rem;
}

